<style>
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
</style>

body {
    background-color: black;
    font-family: 'Rock Salt', cursive;
    font-size: 20em;
  }
  
  h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
  }
  
  h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
  }
  
  p {
    font-size: 0.875em; /* 14px/16=0.875em */
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }
  
  .band-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  
  .band {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  
  .img-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;
  }
  
  .title {
    text-align: center;
  }
  
  .nav {
    text-align: center;
    color:grey;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rock Salt', sans-serif;
  }